<section id="login-handle">
  <div class="container text-center">
    <p class="hdfchead">HDFC BANK</p>
    <div class="social-icons">
      <table style="width: 100%; align-items: center;">
        <tr class="col">
          <th><button type="button" class="btn btn-light" routerLink="accountInfo">ACCOUNT INFO</button></th>
          <th><button type="button" class="btn btn-light" routerLink="accountActivity">ACCOUNT ACTIVITIES</button></th>
          <th><button type="button" class="btn btn-light" routerLink="transfer">TRANSFER</button></th>
          <th><button type="button" class="btn btn-light" routerLink="changePassword">CHANGE PASSWORD</button></th>
          <th><button type="button" class="btn btn-lightlog" routerLink="logout">LOGOUT</button></th>
        </tr>
      </table>
    </div>
  </div>
</section>
  <router-outlet></router-outlet>


<!--firstedit-->
<!----<div class="container text-center">
      <p>FIND US ON SOCIAL MEDIA</p>
      </div>-->
<!--<ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="accountInfo">Account Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="accountActivity">Account Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="transfer">Transfer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="changePassword">Change Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="logout">Logout</a>
    </li>
  </ul>



  <!- second edit like social media->
  <div class="container-fluid text-center">
  <h1 class="hdfchead"> HDFC BANK </h1>
  <div class="container text-center">
    <nav class="navbar">

      <div class="social-icons">
        <table style="width: 100%; align-items: center;">
          <tr class="col">
            <th id="logotr"><a class="nav-link" routerLink="accountInfo">ACCOUNT INFO</a></th>
            <th id="logotr"><a class="nav-link" routerLink="accountActivity">ACCOUNT ACTIVITIES</a></th>
            <th id="logotr"><a class="nav-link" routerLink="transfer">TRANSFER</a></th>
            <th id="logotr"><a class="nav-link" routerLink="changePassword">Change Password</a></th>
            <th id="logotr"><a class="nav-link" routerLink="logout">LOGOUT</a></th>
          </tr>
        </table>
      </div>

    </nav>
  </div>
  <hr class="hr-succ">-->