<table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.no</th>
        <th scope="col">Name</th>
        <th scope="col">Speciality</th>
        <th scope="col">Work Done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Abdul Rahim</td>
        <td>Backend and Database</td>
        <td>Backend and Database</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nikhil Hatwar</td>
        <td>Frontend</td>
        <td>Landing Page</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Rahul Khenat</td>
        <td>Backend and Database</td>
        <td>Backend and Database</td>
      </tr>
    </tbody>
  </table>